/[Bb]uild/
/[Bb]uilds/
/[Cc]om_Assemblies/
/[Aa]sset[Cc]ache/
/[Ll]ibrary/
/[Ll]ocal[Cc]ache/
/[Oo]bj/
/[Tt]emp/
/[Uu][Yy]s/
/[Uu]ser[Ss]ettings/
/[Vv][Ss]/
.vs/
.gradle/
ExportedObj/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.pdb
*.mdb
*.opendb
*.VC.db
Syslog.txt

/Assets/AssetStoreTools*

sysinfo.txt

*.apk
*.unitypackage
